.accordion-item {
  height: auto;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21aeca;
  padding: 20px;
  cursor: pointer;
}
.accordion-title:hover {
  background: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
  display: flex;
}
